<div class="main-content">
  <div class="section-content section-content-p30">
    <div class="container-fluid">
      <div class="row">
        <div *ngIf="!this.searchMode; else inSearchMode">
          <h4>Category: {{ currentCategoryName }}</h4>
          <hr />
        </div>
        <ng-template #inSearchMode>
          <h4>Showing results for: "{{ this.getSearchKeyword() }}"</h4>
        </ng-template>
        <div *ngFor="let product of products" class="col-md-3">
          <div class="product-box">
            <a routerLink="/products/{{ product.id }}">
              <img
                src="{{ product.imageUrl }}"
                alt="image"
                class="img-responsive"
              />
            </a>
            <br />
            <a routerLink="/products/{{ product.id }}">
              <h1>{{ product.name }}</h1>
            </a>
            <div class="price">{{ product.unitPrice | currency }}</div>
            <a href="#">Add to cart</a>
          </div>
        </div>
        <div
          *ngIf="products?.length == 0 && this.searchMode"
          class="alert alert-warning col-md-12"
          role="alert"
        >
          No products found.
        </div>
      </div>
    </div>
  </div>
</div>
